<html>
    <head>
        <title></title>
        <style>
            *{
                margin: 0;
                padding: 0;
            }
        </style>

    </head>
    <body>
        <h1>page setup</h1>
        <script crossorigin src="https://unpkg.com/react@18/umd/react.production.min.js"></script>
        <script crossorigin src="https://unpkg.com/react-dom@18/umd/react-dom.production.min.js"></script>
        <div data-mfe-id="header">
            <div id="header-container"></div>
            <script src="mfes/mfe-ex-c1-header/main.js"></script>
        </div>

        <div data-mfe-id="login">
            <div id="login-container"></div>
            <script src="mfes/mfe-ex-c3-subscribe/main.js"></script>
        </div>

        <div data-mfe-id="subscribe">
            <div id="subcribe-container"></div>
            <script src="mfes/mfe-ex-c3-subscribe/main.js"></script>
        </div>

        <div data-mfe-id="footer">
            <div id="footer-container"></div>
            <script src="https://www.newtonflash.com/apps/mfe/footer/footer.js"></script>
        </div>
    </body>
</html>
